<%- include("partials/header"); -%>
    <h1>About</h1>
    <hr>
    <h3>Functionality:</h3>

    <p>Simple blog site which can be accessed using just the link and common database is used for the deployment of the data.</p>
    <p>Users can compose and view their content on the home route, which is the main route and also could be accessed using just <br>the link for now.</p>

    <h3>For Developers:</h3>
    <p> <%= aboutContent %> </p>
    <br>
    <p>API Link: <a href="https://shielded-mountain-60766.herokuapp.com/">API</a></p>
    <br>
    <p>To access reference for API of the database checkout the project's repo:<a href="https://github.com/atlas25git/ExpressAtlas25">GitHub</a> </p>
<%- include("partials/footer"); -%>
