<%- include("partials/header"); -%>
    
    <div class="container">
    <h1>Contact</h1>
    <hr>
    <p> <%= contactContent %> </p>
    <p><strong>Website: </strong><a href="https://arcane-cliffs-25919.herokuapp.com/">atlas25</a></p>
    <p><strong>Github: </strong><a href="https://github.com/atlas25git">atlas2git</a></p>
    <p><strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/lesarthak/">Sarthak Srivastava</a></p>
    <p><strong>Email: </strong><a href="">atlas.sarthak@gmail.com</a></p>
    
    </div>
<%- include("partials/footer"); -%>
